html {
  background-color: rgb(21, 25, 32);
}

body {
  font-family: 'Rubik', sans-serif;
}

#tool-title {
  padding: 10px 0 0 10px;
  font-weight: 800;
  color: white;
  font-size: 20px;
}

#tiles {
  position: relative;
}

.main-header {
  height: 0px;
  background-color: black;
  width: 100%;
  padding-bottom: 50px;
}

.app {
  margin: auto;
  width: 90vw;
  height: 90vh;
  padding: 30px;
}

.countries-list {
  height: 900px;
  padding: 0;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.cases {
  display: inline;
  text-align: right;
}

.map {
  width: 100%;
  margin: auto;
}